<app-alert></app-alert>

<!-- Login Form -->
<form #f="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <!-- <input type="email" name="email" ngModel #email="ngModel" email required -->
    <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" email required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Email">
    <ng-container *ngIf="email.touched">
      <p *ngIf="email.hasError('required')" class="text-red-400">Field is required.</p>
      <p *ngIf="email.hasError('email')" class="text-red-400">Please enter valid email.</p>
    </ng-container>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password" />
    <p *ngIf="password.touched && password.hasError('required')" class="text-red-400">Field is required.</p>
  </div>
  <button type="submit" [disabled]="f.invalid || pendingSubmission"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-75 disabled:bg-indigo-400">
    Submit
  </button>
</form>

<button type="text" (click)="loginGuest()"
  class="block w-full bg-indigo-400 text-white mt-5 py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-75 disabled:bg-indigo-400">
  Login as Guest
</button>